<!DOCTYPE html>
<html>
  <head>
    <title>Media-Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <style>
      body {
      background-image: url('./static/BG_Image_3.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      }
      .hidden {
          display: none;
      }

      .footnote {
      text-align: center;
      font-size: 14px;
      text-align:center;
      margin-bottom:0px;
      opacity: 0.7;
      padding: 4px;
    }
    </style>
  </head>
  <body>
    <!-- <iframe href="/templates/sql_pdf_toggle.html" width="50%" height="100"></iframe> -->
    <div class="chatbot" id="chatbotWindow">
      <div class="chatbot-header" onclick="toggleChatbot()">Media-Bot</div>
    <div id="chatWindow"></div>
    <input type="file" id="audioInput"  name="pdfFile[]" accept="audio/*,application/pdf,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" multiple />
    <div class="audio-container" id="audioMessage"></div>
    <div id="buttonWindow">
    <button onclick="uploadFile()" id="uploadPDF" class="pdfUploadButton"><i class="fas fa-paperclip"></i></button>
    <input type="text" id="textInput" onkeydown="handleKeyPress(event)" placeholder="Type your message..." />
    <button onclick="sendMessage()" id="sendText" class="sendTextButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    <button onclick="toggleRecording()" id="audioRecordButton" class="startStopButton" ><i class="fa fa-microphone" aria-hidden="true"></i></button>
    </div>
  </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="static/scripts/toggleChatbot.js"></script>
    <script src="static/scripts/recordAudioInput.js"></script>
    <script src="static/scripts/recordTextInput.js"></script>
    <script src="static/scripts/uploadPDF.js"></script>
    <!-- <script src="static/scripts/updateTimestamp.js"></script> -->
    <script>
      var now = new Date();
      var timeString = now.toLocaleTimeString("en-US", 
                                                  { timeZone: "Asia/Kolkata", hour12: false, 
                                                    hour: "numeric",  minute: "numeric" });
      chatstart = document.createElement('div');
      chatstart.innerHTML = "<p style='font-size: 16px;text-align:center;margin-bottom:10px';>"+"👋 "+timeString+" 👋"+"</p>";
      document.getElementById('chatWindow').appendChild(chatstart);

      const initialMessages = [
        '👋Hello !!!🙂 \nI am Media-Bot at your service.',
        ' Follow the steps to get started: \n\
        🔸Upload a pdf file using the attachment icon (and/or)\n\
        🔸Type text /record audio to ask question from the uploaded file.',
      ];

      initialMessages.forEach(function (message) {
        const botMessage = document.createElement('div');
        botMessage.className = 'botMessage';
        botMessage.innerText = message;
        document.getElementById('chatWindow').appendChild(botMessage);
      });

      // Event listener to handle file upload
      document.getElementById('audioInput').addEventListener('change', handleFileUpload);      
    </script>
  </body>
</html>
