<!DOCTYPE html>
<html>
  <head>
    <title>Media-Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <style>
      body {
      background-image: url('./static/BG_Image_3.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <div class="chatbot" id="chatbotWindow">
    <!-- <div class="nameWindow"> -->
      <div class="chatbot-header" onclick="toggleChatbot()">Media-Bot</div>
    <!-- <h2 align="center" class="chatbot-header" onclick="toggleChatbot()" >MediaBot</h2> -->
  <!-- </div> -->
    <div id="chatWindow"></div>
    <!-- <div class="shadow p-3 mb-5 bg-white rounded"> -->
    <!-- <input type="file" id="pdfFile" class="file-input" accept=".pdf"> -->
    <input type="file" id="audioInput"  name="pdfFile" accept="audio/*,application/pdf,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    <div class="audio-container" id="audioMessage"></div>
    <div id="buttonWindow">
    <button onclick="uploadFile()" id="uploadPDF" class="pdfUploadButton"><i class="fas fa-paperclip"></i></button>
    <input type="text" id="textInput" onkeydown="handleKeyPress(event)" placeholder="Type your message..." />
    <button onclick="sendMessage()" id="sendText" class="sendTextButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    <button onclick="toggleRecording()" id="audioRecordButton" class="startStopButton" ><i class="fa fa-microphone" aria-hidden="true"></i></button>
    </div>
  <!-- </div> -->
  </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="static/scripts/toggleChatbot.js"></script>
    <script src="static/scripts/recordAudioInput.js"></script>
    <script src="static/scripts/recordTextInput.js"></script>
    <script src="static/scripts/uploadPDF.js"></script>
    <script>

      const initialMessages = [
        '👋Hello !!!🙂 \nI am Media-Bot at your service.',
        ' Follow the steps to get started: \n\
        🔸Upload a pdf or an excel file using the attachment icon.\n\
        🔸Type text /record audio to ask question from the uploaded file.',
      ];

      initialMessages.forEach(function (message) {
        const botMessage = document.createElement('div');
        botMessage.className = 'botMessage';
        botMessage.innerText = message;
        document.getElementById('chatWindow').appendChild(botMessage);
      });

      // Event listener to handle file upload
      document.getElementById('audioInput').addEventListener('change', handleFileUpload);
//       function uploadFile() {
//     document.getElementById('audioInput').click();
//   }

// // Function to handle file upload
// function handleFileUpload(event) {
//     const file = event.target.files[0];
//     if (file && file.type === 'application/pdf') {
//         const reader = new FileReader();
//         reader.onload = function () {
//         const pdfUrl = reader.result;

//         // Create a link element and append it to the chat window
//         const linkElement = document.createElement('a');
//         linkElement.href = pdfUrl;
//         linkElement.textContent = 'Uploaded PDF';
//         linkElement.target = '_blank';
//         document.getElementById('chatWindow').appendChild(linkElement);

//         // Clear the file message
//         document.getElementById('audioMessage').innerHTML = '';

//         // Optionally, you can send the file to your chatbot backend for processing
//         // In this example, we'll simulate a response from the bot
//         stimulateBotPDFResponse();
//         };
//         reader.readAsDataURL(file);
//     }
//     }

// function stimulateBotPDFResponse(){
//     const botMessage = document.createElement('div');
//     botMessage.className = 'botMessage';
//     botMessage.innerText ="OpenAI Response";
//     return document.getElementById('chatWindow').appendChild(botMessage);

// }
 
      // // Function to create a bot message
      // function createBotMessage(message) {
      //   const botMessage = document.createElement('div');
      //   botMessage.className = 'botMessage';
      //   botMessage.innerText = message;
      //   return botMessage;
      // }

//       // Function to create an audio message
//       function createAudioMessage(audioUrl) {
//         const audioMessage = document.createElement('div');
//         audioMessage.className = 'audioMessage';
//         const audioElement = document.createElement('audio');
//         audioElement.src = audioUrl;
//         audioElement.controls = true;
//         audioMessage.appendChild(audioElement);
//         return audioMessage;
//       }

      // // Function to display a message in the chat window
      // function displayMessage(messageElement) {
      //   document.getElementById('chatWindow').appendChild(messageElement);
      // }
      
    </script>
  </body>
</html>
